
/HW01/Data
/HW02/Data
/HW03/MNIST
/HW04/Data
/HW05/Data
HW05/4.5
HW05/best_model.pth
HW05/best_model_fold_0.pth
HW05/best_model_fold_1.pth
HW05/best_model_fold_2.pth
HW05/best_model_fold_3.pth
HW05/best_model_fold_4.pth
/HW05/drive
/HW05/train
/HW05/val
/HW07/Data
*.jpg
HW04/train/dirty/.DS_Store
HW04/train/cleaned/.DS_Store
HW04/train/.DS_Store
HW04/test/.DS_Store
/HW005/plates
/HW005/test
/HW005/val
/HW05/plates
/HW05/test
HW09/random_russian_text.txt
